.container {
    border: 1px solid #413b3b;
    border-radius: 1rem;
    width: 60%;
    margin: 2rem auto;
    padding: 0rem 1rem 1rem 1rem;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;

    h3 {
        text-align: center;
        font-weight: 400;
    }
}

.list-con {
    height: 50vh;
    width: 100%;
    overflow: auto;
    border-radius: 10px;

    &::-webkit-scrollbar-thumb {
        background-image: -webkit-gradient(linear,
                                           40% 0%,
                                           75% 84%,
                                           from(#4D9C41),
                                           to(#19911D),
                                           color-stop(.6,#54DE5D))
    }
}



table{
    width: 100%;
    overflow: auto;
}

tr:nth-child(even) {
    background-color: #1b881f19;
}

th {
    padding: 10px;
    padding-left: 0%;
    font-weight: 400;
}

td {
    font-weight: 300;
    font-size: 14px;

    button {
        background-color: transparent;
        border-radius: 5px;
        background-image: linear-gradient(to right, #6A9113 0%, #141517  51%, #6A9113  100%);
        padding: 2px 4px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;            
        border-radius: 3px;
        display: inline-block;
        font-size: 12px;
    }
}